/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	--padding-horizontal: 1.5rem;
	--padding-vertical: 2rem;
}

h2,
h3 {
	color: #191817;
}

.button {
	display: block;
	width: 100%;
	line-height: 3.5;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.button-white {
	color: #540b51;
	background-color: white;
	border: 1px solid #540b51;
}

.button-purple {
	color: white;
	background-color: #540b51;
	border: 1px solid white;
}

nav,
header,
.hq {
	background-color: #540b51;
	color: white;
}

main > section {
	padding: var(--padding-vertical) var(--padding-horizontal);
	background-color: #f3eae2;
}

nav {
	padding: var(--padding-horizontal);
	position: sticky;
	z-index: 1;
	top: 0;
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: none;
}

.nav-left > img {
	height: 17px;
}

.nav-right > button {
	background-color: #540b51;
	border: none;
}

.nav-right img {
	height: 15px;
}

header {
	padding: var(--padding-horizontal);
	text-align: center;
	overflow: hidden;
}

.header-content {
	display: flex;
	flex-flow: column wrap;
	gap: 1em;
}

.header-content > h1 {
	font-size: 2.5em;
}

.p-highlight {
	color: #ecb12f;
}

.sign-up-google {
	position: relative;
	background-color: #4285f4;
	color: white;
}

.sign-up-google img {
	box-sizing: content-box;
	position: absolute;
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
	height: 1.8em;
	padding: 6px 8px;
	background-color: white;
	border-radius: 3px;
}

.header-image-container {
	margin-bottom: -90px;
}

.header-image-container img {
	max-width: 720px;
	max-height: 400px;
	margin-left: -3em;
}

.section-companies p {
	padding-bottom: var(--padding-vertical);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
}

.companies-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	row-gap: 1.2em;
}

.companies-container img {
	height: 35px;
}

.section-text-wrapper {
	display: flex;
	flex-flow: column wrap;
	gap: 1em;
	padding: var(--padding-vertical) var(--padding-horizontal) 0;
}

.team-img,
.mobile-img {
	margin-left: calc(-1 * var(--padding-horizontal));
	margin-right: var(--padding-vertical);
}

section a {
	text-decoration: none;
	color: #2e71a6;
	position: relative;
}

section a::after {
	background: url("../images/icon-arrow-right.png") no-repeat;
	content: "";
	height: 13px;
	width: 19px;
	position: absolute;
	top: 50%;
	transform: translate(5px, -50%);
}

.communication {
	display: flex;
	flex-flow: column wrap;
}

.communication-text {
	order: 2;
}

.communication-img {
	margin-left: var(--padding-vertical);
	margin-right: calc(-1 * var(--padding-horizontal));
	order: 1;
}

.scale {
	background-color: white;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	gap: 1em;
}

.scale h3 {
	font-size: xx-large;
}

.scale > p {
	letter-spacing: 1px;
}

.average-list span {
	font-size: 3em;
	color: #540b51;
	font-weight: bolder;
}

.average-list li {
	width: 185px;
	margin: var(--padding-vertical) auto;
	font-weight: bold;
}

.hq {
	clip-path: ellipse(105% 100% at center top);
	padding-bottom: 4em;
}

.hq > h3 {
	color: white;
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;
}

footer {
	padding: var(--padding-vertical) var(--padding-horizontal);
	display: flex;
	flex-flow: column;
	gap: 1em;
}

footer img {
	width: 54px;
	height: 54px;
}

footer ul > li {
	margin: var(--padding-vertical) 0;
}

footer > :nth-child(n + 5) {
	order: 2;
}

.map {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-size: 0.85em;
	color: #454245;
}

footer > hr {
	width: 100%;
}

.ul-links {
	order: 1;
	font-weight: 900;
}

.map > ul {
	width: 85px;
}

.map > ul > li:first-child {
	font-weight: 700;
}

.region::before {
	content: url("../images/icon-region.png") " ";
}
.download {
	color: #2e71a6;
	margin-bottom: 0;
}
.download::before {
	content: url("../images/icon-download.png") " ";
}

.social-media {
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
}

.copy {
	text-align: center;
	font-size: 0.875em;
	margin-bottom: 1em;
}

/* Iteração 1 768px */
/* Iteração comum às telas maiores */
@media all and (min-width: 768px) {
	header {
		text-align: left;

		background: url("../images/background-singup.png") no-repeat;
		background-size: cover;

		display: flex;
		flex-flow: row;
		align-items: center;
		gap: var(--padding-horizontal);
		padding-bottom: 8em;
	}

	.header-content {
		font-size: 32px;
	}

	.header-image-container {
		margin-bottom: unset;
	}
	.header-image-container img {
		margin-left: 0;
		padding: 2em 0;
	}
	.header-sign-up {
		min-width: 440px;
	}
	.scale > div {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		gap: 1em;
	}
	.scale > div button {
		width: auto;
		padding: 0.5em 3em;
		letter-spacing: 1px;
	}
	.average-list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.average-list li {
		margin: unset;
	}
	.hq {
		padding-left: 8em;
		padding-right: 8em;
	}
	.ul-links {
		display: flex;
		flex-flow: row nowrap;
		font-size: 0.75em;
		justify-content: space-between;
	}
	.social-media {
		justify-content: flex-start;
		gap: 1em;
	}
}

/* Iteração 2 */
@media all and (min-width: 768px) and (max-width: 1024px) {
	.team-img,
	.mobile-img {
		margin-left: calc(-1 * var(--padding-horizontal));
		margin-right: calc(2 * var(--padding-vertical));
	}
	.communication-img {
		margin-left: calc(2 * var(--padding-vertical));
		margin-right: calc(-1 * var(--padding-horizontal));
	}
}

/* Iteração 3 */
@media all and (min-width: 1025px) and (max-width: 1440px) {
	nav {
		gap: 5em;
	}
	nav ul {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav a {
		color: white;
		text-decoration: none;
		font-size: 1.25em;
	}
	.nav-left > img {
		height: 34px;
	}
	.nav-left {
		flex: 4 1 auto;
	}
	.nav-left,
	.nav-right {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.nav-right {
		flex: 1 1 auto;
	}
	.nav-right img {
		height: auto;
		margin-top: 8px;
	}
	.nav-right > button:nth-child(2) {
		display: none;
	}
	.nav-right li {
		flex: 1 1 auto;
		text-align: right;
	}
	.try {
		background-color: white;
		color: #540b51;
		padding: 0.5em;
		border-radius: 4px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1em;
	}
	.team,
	.communication,
	.mobile {
		display: flex;
		flex-flow: row nowrap;
		gap: 6em;
		padding: var(--padding-vertical) 0;
		align-items: center;
	}
	.team > *,
	.communication > *,
	.mobile > * {
		flex: 1;
	}
	.team-img,
	.communication-img,
	.mobile-img {
		margin: unset;
	}
	.communication-text {
		order: 0;
	}
	.communication-text > .section-text-wrapper {
		margin-left: auto;
	}
	.section-text-wrapper {
		padding: 0;
		max-width: 400px;
		font-size: 1.5em;
	}
	.section-text-wrapper > h2 {
		font-size: 2em;
	}
	.mobile {
		padding-bottom: calc(2 * var(--padding-vertical));
	}
	.hq-btn-wrap {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		gap: 1em;
	}
	.hq-btn-wrap > button {
		width: auto;
		width: auto;
		padding: 0.5em 3em;
		letter-spacing: 1px;
	}
}
/* Iteração 4 */
@media all and (min-width: 1441px) {
}
